[submodule "libs/tclap"]
	path = libs/tclap
	url = https://git.code.sf.net/p/tclap/code
	branch = master
[submodule "libs/decent-ra-api"]
	path = libs/decent-ra-api
	url = git@github.com:zhenghaven/decent-ra-api.git
	branch = master
